// Colors
$main-back-color: #18242A;
$second-back-color: #263238;
$third-back-color: #4F5B62;

$button-color: #2A353A;

$main-text-color: #000A12;
$second-text-color: #00E5FF;
$third-text-color: #EEEEEE;

$blue-1: #00B2CC;
$blue-2: #6EFFFF;
$gray-1: #BCBCBC;
$gray-2: #1B1B1B;