@import 'variables', 'home', 'navbar', 'video', 'stats', 'map', 'settings';
@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}