.map_container{
    height: 90vh;

    .top{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .content{
            background-color: $main-back-color;
            color: $third-text-color;
            height: 50px;
            padding: 5px 50px;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            position: absolute;
            margin-top: 50px;
            line-height: 50px;
            z-index: 500;
            font-size: 20px;
        }

        .speed {
            position: absolute;
            margin-top: 200px;
            margin-right: 200px;
            right: 0;
            z-index: 500;

            .circle{
                height: 100px;
                width: 100px;
                padding-top: 10px;
                line-height: 40px;
                font-size: 50px;
                background-color: white;
                border-radius: 50%;
                border: 5px solid red;
                display: inline-block;
                text-align: center;

                .unit {
                    font-size: 18px;
                }
            }
            
        }
    }

    .bottom{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        .content{
            background-color: $main-back-color;
            color: $third-text-color;
            height: 50px;
            padding: 5px 50px;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            position: absolute;
            margin-bottom: 50px;
            line-height: 50px;
            z-index: 500;
            font-size: 20px;
        }

        &.show{
            opacity: 1;
        }
    }

    .leaflet-container{
        height: 100%;
    }
}