.settings_container {
    height: 90vh;
    display: flex;
    flex-flow: column;
    background-color: #263238;
    color: white;
    overflow-y: auto;
}
.settings_container .settings_top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.settings_container .settings_themes {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.settings_container .settings_themes .settings_themes_mode {
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings_container .settings_langues {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.settings_container .settings_langues .settings_pays {
    margin: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings_container .settings_options {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.settings_container .settings_options .settings_options_item {
    display: flex;
    flex-flow: column;
    align-items: center;
}
