.home_container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.left_home_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: $third-back-color;
}

.right_home_container{
    background-color: $second-back-color;
    flex-grow: 1;
}

.circle {
    height: 150px;
    width: 150px;
    background-color: $second-back-color;
    border: 5px solid $second-text-color;
    border-radius: 50%;
    text-align: center;
    color: $second-text-color;
    margin: 35px;
    display: flex;
    flex-flow: column nowrap;
}

.engine{
    margin-top: 15px;
    margin-bottom: 35px;
}

.start_stop {
    & hr{
    color: $second-text-color;
    width: 70px;
    }
}